@use 'variables' as v;
@use 'mixins';

.input{
    height: 57px;
    display: flex;
    justify-content: space-between;
    background-color: v.$Ligth-grayish-blue;
    &__minus{
        width: 25px;
        height: 100%;
        padding: 22px 5px;
        &:hover{
            cursor: pointer;
        }
    }
    &__number{
        background-color: v.$Ligth-grayish-blue;
     width: 100%;
     border: none;
     font-size: 1.2em;
     font-weight: 700;
     text-align: center;
     outline: none;
    }
    &__plus{
        width: 25px;
        height: 100%;
        padding: 22px 5px;
        &:hover{
            cursor: pointer;
        }
    }
}